.registerComponent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 50px;
    grid-gap: 20px;
    grid-template-areas: 
        "register_container"
        "login_link";
    min-height: 100%;
    padding: 0 20px;

    .register_container {
        grid-area: register_container;
        display: grid;
        grid-column: 1 / -1;
        min-height: 100%;
        align-content: center;

        .notification {
            display: grid;
            justify-content: center;
            align-content: center;
            height: 80px;
            border-radius: 5px;
        }

        .password {
            display: grid;
            grid-template-columns: 1fr 34px;
            grid-template-areas: "password-input icon";
            margin-top: 10px;
            border: 1px solid var(--light-gray);
            border-radius: 5px;
            background: white;
            
            .password-input {
                grid-area: password-input;
                border:none;
                background: transparent;
                margin:0;
                outline: none;
            }
            .icon {
                grid-area: icon;
                align-self: center;
                margin-right:5px;
                background: transparent;
                color: gay;
                cursor: pointer;
            }
        }
    }
    
    .login_link {
        grid-area: login_link;
        min-height: 100%;
        grid-column: 2;
        display: grid;
        justify-content: center;
    }

    @keyframes expand {
        from {
          transform: scale(.8);
          opacity: 0;
        }
      }

    small {
        display: block;
        color: var(--error);
        animation: expand .2s ease-in-out;
    }
}