.main-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: "main-sidebar main-content";
    min-height: 100%;
    transition: grid-template-columns 0.2s ease 0s;

    .sidebar{
        grid-area: main-sidebar;
        grid-column: 1 / span 2;
        min-height: 100%;
    }
    .content{
        grid-area: main-content;
        grid-column: 3 / -1;
        min-height: 100%;
    }

    &-toggled {
        @extend .main-container;
        grid-template-columns: 64px repeat(12,1fr);

        .sidebar{
            grid-column: 1 ;
        }
        .content{
            grid-column: 2 / -1;
        }  
    }
}